.header__page {
  background-color: var(--darkback);
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.header__logo {
  width: 50px;
  height: 50px;
}

.rightheader__side {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.rightheader__side > a:hover {
  transform: scale(1.2);
}

.header__menu {
  width: 40px;
  height: 40px;
  transition: 0.4s;
  cursor: pointer;
}

.header__menu:hover {
  transform: rotate(40deg) scale(1.1);
}

.active {
  transform: rotate(40deg) scale(1.1);
}
